.cart-Holder{
    width: 400px;
    height: 300px;
    max-width: 600px;
    min-height: 30vh;
    position: absolute;
    right: -50%;
    display: flex;
    background-color: blanchedalmond;
    transition: all ease-in-out 300ms;
    color: black;
    // transform: translateX(-800px);
    span{
        position: absolute;
        color: black;
        top: 100px;
        left: 368px;
        cursor: pointer;
    }
}

.cart-Holder-Open{
    transform: translateX(-167%);
}




