$transition-type: ease-in;
$overlay-color: black;
$texts-and-icons: #fff;
$body-background: black;

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.full-menu,
.content {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  background-color: $body-background;
  .shopping-bag {
    position: relative;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    .count {
      position: absolute;
      top: -10px;
      right: -20px;
      display: block;
      height: 15px;
      width: 15px;
      background: black;
      font-size: 15px;
      box-sizing: content-box;
      padding: 6px;
      line-height: 15px;
      border-radius: 50%;
      font-weight: bold;
      box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
      border: 2px solid white;
      text-align: center;
      color: white;
    }

    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);
      border: 3px solid rgba(255, 255, 255, 0.3);
      transform: scale(1.1);
      transition: 300ms;
    }
  }
}

.full-menu {
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: $overlay-color;
  opacity: 0.5;
  transform: translateX(-100%);
  transition: all 400ms $transition-type;

  li {
    font-size: 4em;
    color: $texts-and-icons;
    opacity: 0;
    transform: translateY(2%);
    transition: all 300ms $transition-type;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      width: 0%;
      left: 0;
      bottom: 0;
      background-color: $texts-and-icons;
      transition: width 200ms $transition-type;
    }

    &:hover:after {
      width: 100%;
    }
  }

  ul {
    list-style: none;
  }

  &.active {
    transform: translateX(0%);
    opacity: 1;
    z-index: 2;

    .home {
      transition-delay: 0.3s;
    }

    .shirts {
      transition-delay: 0.4s;
    }

    .t-shirts {
      transition-delay: 0.6s;
    }

    .pants {
      transition-delay: 0.8s;
    }

    .contact {
      transition-delay: 1s;
    }

    li {
      opacity: 1;
      transform: translateX(0%);

      &:hover {
        animation: zoom 200ms $transition-type;
      }
    }
  }
}

.hamburguer {
  position: absolute;
  width: 2em;
  height: 2em;
  margin: 3em;
  z-index: 3;
  cursor: pointer;

  &:hover {
    animation: zoom 300ms $transition-type;
  }
}

.lines {
  background-color: $texts-and-icons;
  width: 100%;
  height: 5px;
  margin: 5px 0;
  transition: all 450ms $transition-type;
}

.close-hamburguer {
  .lines {
    cursor: pointer;
  }

  .line-top {
    transform: translateY(200%) rotate(45deg);
  }

  .line-mid {
    opacity: 0;
  }

  .line-bottom {
    transform: translateY(-200%) rotate(135deg);
  }
}
