$transition-type: ease-in;
$overlay-color: black;
$texts-and-icons: #fff;
$body-background: black;

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.content {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $body-background;
  color: white;
  .shopping-bag {
    position: relative;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
    right: 2%;
    .count {
      height: 15px;
      width: 15px;
      padding: 6px;
      font-weight: bold;
      display: block;
      position: absolute;
      right: -18px;
      top: -8px;
      border: 2px solid black;
      text-align: center;
      background: black;
      font-size: 1rem;
      box-sizing: content-box;
      line-height: 15px;
      border-radius: 50%;
      box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
      color: white;
    }

    &:hover {
      cursor: pointer;
      animation: zoom 300ms $transition-type;
    }
  }
  .hamburguer {
    width: 30px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
    position: relative;
    left: 2%;

  
    &:hover {
      animation: zoom 300ms $transition-type;
    }
    
    .lines {
      background-color: $texts-and-icons;
      width: 100%;
      height: 5px;
      margin: 5px 0;
      transition: all 450ms $transition-type;
    }
  }
  .content-Image{
    width: 90%;
    display: flex;
    justify-content: center;
    img{
      width: 300px;
    }
  }
}

.close-hamburguer {
  .lines {
    cursor: pointer;
  }

  .line-top {
    transform: translateY(200%) rotate(45deg);
  }

  .line-mid {
    opacity: 0;
  }

  .line-bottom {
    transform: translateY(-200%) rotate(135deg);
  }
}

.full-menu {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: $overlay-color;
  opacity: 0.5;
  transform: translateX(-100%);
  transition: all 400ms $transition-type;


  li {
    font-size: 4em;
    color: $texts-and-icons;
    opacity: 0;
    transform: translateY(2%);
    transition: all 300ms $transition-type;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      width: 0%;
      left: 0;
      bottom: 0;
      background-color: $texts-and-icons;
      transition: width 200ms $transition-type;
    }

    &:hover:after {
      width: 100%;
    }

  }

  ul {
    list-style: none;
  }

  &.active {
    transform: translateX(0%);
    opacity: 1;
    z-index: 2;

    .home {
      transition-delay: 0.3s;
    }

    .shirts {
      transition-delay: 0.4s;
    }

    .t-shirts {
      transition-delay: 0.6s;
    }

    .pants {
      transition-delay: 0.8s;
    }

    .contact {
      transition-delay: 1s;
    }

    li {
      opacity: 1;
      transform: translateX(0%);

      &:hover {
        animation: zoom 200ms $transition-type;
      }
    }
  }
}

@media (max-width : 900px) {
  .full-menu{
    width: 60%;
  }
}

@media (max-width : 600px) {
  .full-menu{
    width: 100%;
  }
  .content{
    .shopping-bag{
      right: 5%;
    }
    .hamburguer{
      left: 5%;
    }
    .content-Image{
      img{
        display: none;
      }
    }
  }
}
